.CourseListItem {
    padding-left: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.courseCard{
    width: 25vw;
}

.card-title{
    padding-left: 10px;
    margin-right: 10px
} 