.RoundForm{
    background-color: white;
    opacity: 0.8;
    height: 90%;
    padding: 10px 10px 10px 10px;
}

.header{
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
    padding-bottom: 10px;
}

.courseSelect{
    color: lightgray;
}

.RoundForm-container{
    background-color: transparent;
    padding-top: 2vh;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-top: 20vh;
    margin-left: 5vw;
    max-height: 70vh;
    max-width: 50vw;
    width: 40vw;
    height: 60vh;
}

.buttons-container{
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

