.card-title{
    padding-right: 5px;  
    padding-top: 15px;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.roundListItem{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    
}