.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: "lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}